<div class="container-fluid mt-3 mb-5">
  <div class="row justify-content-center">
    <div
      class="col-12 col-md-10 col-lg-11 bg-white shadow-lg p-4 rounded d-flex flex-column align-items-center"
    >
      <h2 class="mb-3">Menu C.R.U.D.</h2>

      <div class="text-center mb-4">
        <h4>Bem-vindo</h4>
      </div>

      <div
        class="d-flex flex-column flex-md-row align-items-center justify-content-between w-100"
      >
        <!-- Menu  -->
        <ul class="nav nav-pills flex-column" style="width: 40%">
          <li class="nav-item">
            <a class="nav-link" href="/cadastrar">Cadastrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listar">Listar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/editar">Editar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/apagar">Apagar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cadastrar-endereco-extra"
              >Cadastrar Endereço Extra</a
            >
          </li>
        </ul>

        <!--  Imagem -->
        <div class="image-container" style="width: 60%">
          <img src="assets/crud.png" alt="CRUD" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
