<div class="container-fluid mt-5 mb-5">
  <!-- Listar -->
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th>Nome</th>
            <th>Sexo</th>
            <th>Estado Civil</th>
            <th>Endereço</th>
            <th>CEP</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>João</td>
            <td>Masculino</td>
            <td>Solteiro</td>
            <td>
              <ul class="list-unstyled">
                <li>Rua das Flores, 123 - Centro - São Paulo/SP</li>
                <li>Avenida dos Bandeirantes, 456 - Brooklin - São Paulo/SP</li>
              </ul>
            </td>
            <td>
              <ul class="list-unstyled">
                <li>12345-678</li>
                <li>09876-543</li>
              </ul>
            </td>
            <td>
              <div class="btn-group" role="group" aria-label="Ações">

                <button type="button" class="btn btn-sm btn-danger">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td>Maria</td>
            <td>Feminino</td>
            <td>Casada</td>
            <td>
              <ul class="list-unstyled">
                <li>Rua do Rosário, 789 - Lapa - Rio de Janeiro/RJ</li>
              </ul>
            </td>
            <td>
              <ul class="list-unstyled">
                <li>45678-901</li>
              </ul>
            </td>
            <td>
              <div class="btn-group" role="group" aria-label="Ações">
                <button type="button" class="btn btn-sm btn-danger">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
